<h1>Edit lesson</h1>

<form id="edit-lesson" name="lesson">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Lesson" />
  </div>

</form>

<a href="#/index">Back</a>